* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    margin: 20px;
}
ul {
    display: flex;
    position: relative;
    float: right;
    align-items: center;
    list-style-type: none;

}
img {
    background-position: center;
}
p {
    text-align: justify;

}
